.product-container {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.product-card {
    list-style-type: none;
        width: 1201px;
            height: 386px;
            top: 189px;
            left: 133px;
            gap: 0px;
            opacity: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        border: 1px solid #D4D4D4;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}
.title-name {
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.38px;
    text-align: left;
    color: black;
}

.title-description {
    font-family: Roboto Mono;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.42px;
    text-align: left;
    color: black;
    width: 672px;
    height: 132px;
    top: 233px;
    left: 682px;
    gap: 0px;
    opacity: 0px;
}

.add-to-card-button {
    width: 87px;
    height: 41px;
    top: 430px;
    left: 682px;
    gap: 0px;
    opacity: 0px;
    background-color: black;
    color: white;
}

.product-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.product-image {
    width: 304px;
        height: 386px;
        top: 189px;
        left: 133px;
        gap: 0px;
        opacity: 0px;
}
.product-rupees {
    font-family: Roboto Mono;
        font-size: 27px;
        font-weight: 500;
        line-height: 35.61px;
        text-align: left;
}