.body-card {
    width: 1379px;
    height: 443px;
    top: 83px;
    left: 34px;
    gap: 0px;
    opacity: 0px;
    background: #F2F2F2;
    margin-left: 35px;
    margin-bottom: 25px;
}

.image {
    width: 1379px;
    height: 443px;
    top: 83px;
    left: 34px;
}