.review-details {
    width: 351px;
    height: 126px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 8px;
    background-color: #E7E6E6;
}

.horizontal-line {
    width: 330px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #9E9E9E
}